<template>
    <div>

        <!-- Page Heading -->
        <div class="mb-4 row">
            <div class="col-6">
                <v-btn
                    color="secondary"
                    to="/users"
                >
                    Utilizadores
                </v-btn>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Novo utilizador</h6>
            </div>
            <div class="card-body">

                <v-form class="user" @submit.prevent >
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <v-text-field
                                label="Nome"
                                v-model="user.full_name"
                            >
                            </v-text-field>
                        </div>
                        <div class="col-sm-6">
                            <v-autocomplete
                                label="Função"
                                :items="rolesFiltered"
                                item-value="id"
                                item-text="role"
                                v-model="user.role_id"
                            ></v-autocomplete>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <v-text-field
                                label="Endereço de email"
                                v-model="user.email">
                            </v-text-field>
                        </div>
                        <div class="col-sm-6">
                            <v-text-field
                                label="Palavra-passe"
                                v-model="user.password"
                                :type="'password'"
                            >
                            </v-text-field>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <v-autocomplete
                                label="Tipo"
                                :items="types"
                                item-value="id"
                                item-text="type"
                                v-model="user.type_id"
                            ></v-autocomplete>
                        </div>
                        <div class="col-sm-6">
                            <v-autocomplete
                                label="Corporação"
                                :items="corporations"
                                item-value="id"
                                item-text="name"
                                v-model="user.corporation_id"
                            ></v-autocomplete>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <v-text-field
                                label="Número Mecanográfico"
                                v-model="user.mec_number"
                            >
                            </v-text-field>
                        </div>
                    </div>
                    <v-btn
                        color="primary"
                        type="submit"
                        @click="submit"
                    >
                        Submeter
                    </v-btn>
                </v-form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: {},
                roles: [],
                types: [],
                corporations: [],
                required: [v => !!v || "Este campo é obrigatório"]

            }
        },
        mounted() {
            axios
                .get('/api/roles')
                .then(response => (this.roles = response.data.data))
            axios
                .get('/api/user_types')
                .then(response => (this.types = response.data.data))
            axios
                .get('/api/corporations')
                .then(response => (this.corporations = response.data.data))
        },
        methods: {
            submit: function () {
                axios.post('/api/users', this.user)
                    .then((response) => {
                        this.$swal({text:'Utilizador adicionado com sucesso', type: 'success'})
                            .then((result) => {
                                this.$router.push('/users')
                            });

                    })
                    .catch((error) => {
                        this.$swal({text:'Ocorreu um erro, por favor valide os dados introduzidos', type: 'error'})
                    });

            }
        },
        computed: {
            rolesFiltered: function () {
                let newRoles = [];
                let role_id = this.$root.$data.user.role_id;
                this.roles.forEach(function(item, index){
                    if (item.id < role_id){
                        item.disabled = true;
                    }
                    newRoles.push(item);
                });


                return newRoles;
            }
        }
    }
</script>
