<template>
    <div>
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"></h1>
        <div class="mb-4 row">
            <div class="col-6">
                <v-btn
                    color="secondary"
                    to="/corporations"
                >
                    Corporações
                </v-btn>
            </div>
            <div class="col-6 text-right">
                <v-btn
                    color="secondary"
                    to="/users/new"
                >
                    Adicionar utilizador
                </v-btn>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Utilizadores</h6>
                <div class="flex-grow-1"></div>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
            </div>
            <div class="card-body">
                <template>
                    <v-data-table
                        :headers="headers"
                        :items="users"
                        :items-per-page="15"
                        class="elevation-1"
                        :search="search"
                    >
                        <template v-slot:item.action="{ item }">
                            <router-link
                                :to="'/users/edit/' + item.id">
                                <v-icon
                                    small
                                    class="mr-2"
                                >
                                    edit
                                </v-icon>
                            </router-link>
                            <v-icon @click="deleteUser(item.id)"
                                small
                                class="mr-2"
                                    color="red"
                            >
                                mdi-delete
                            </v-icon>
                        </template>



                    </v-data-table>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                headers: [
                    {
                        text: 'Id',
                        value: 'id',
                    },
                    { text: 'Nome', value: 'full_name' },
                    { text: 'Nº mecanográfico', value: 'mec_number' },
                    { text: 'Tipo', value: 'type.type' },
                    { text: 'Corporação', value: 'corporation.name' },
                    { text: 'Função', value: 'role.role' },
                    { text: 'Ações', value: 'action', sortable: false },
                ],
                users: [],
                search: ''
            }
        },
        mounted() {
            axios
                .get('/api/users')
                .then(response => (this.users = response.data.data))
        },
        methods: {
            deleteUser(id) {
                this.$swal(
                    {
                        text: 'Tem a certeza de que quer eliminar este utilizador?',
                        type: 'error',
                        showCancelButton: true,
                        confirmButtonText: 'Eliminar!',
                        cancelButtonText: 'Cancelar',
                    })
                    .then((result) => {
                    if (result.value) {

                        axios
                            .delete('/api/users/' + id)
                            .then(response =>{
                                this.$swal.fire(
                                    'Utilizador Eliminado!',
                                    'Utilizador eliminado com sucesso.',
                                    'success'
                                )
                            })
                            .catch(response =>{
                                this.$swal.fire(
                                    'Occorreu um erro a eliminar utilizador',
                                    'Não é possível eliminar utilizadores com operações atribuídas.',
                                    'error'
                                )
                            })


                    }}
                    );
            }
        }
    }
</script>
