<template>
    <div>

        <!-- Page Heading -->
        <div class="mb-4 row">
            <div class="col-6">
                <v-btn
                    color="secondary"
                    to="/cars"
                >
                    Meios terrestres
                </v-btn>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Novo Meio terrestre</h6>
            </div>
            <div class="card-body">

                <v-form class="car" @submit.prevent>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <v-text-field
                                label="Matrícula"
                                v-model="car.license"
                                required
                            >
                            </v-text-field>
                        </div>
                        <div class="col-sm-6">
                            <v-text-field
                                label="Marca"
                                v-model="car.make"
                                required
                            >
                            </v-text-field>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <v-autocomplete
                                label="Classificação"
                                :items="classifications"
                                item-value="id"
                                item-text="name"
                                v-model="car.classification_id"
                                required
                            ></v-autocomplete>
                        </div>
                        <div class="col-sm-6">
                            <v-text-field
                                label="Id Externo"
                                v-model="car.external_id"
                                required
                            >
                            </v-text-field>
                        </div>
                    </div>
                    <v-btn
                        color="primary"
                        type="submit"
                        @click="submit"
                    >
                        Submeter
                    </v-btn>
                </v-form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                car: {},
                classifications: [],
                required: [v => !!v || "Este campo é obrigatório"]

            }
        },
        mounted() {
            axios
                .get('/api/car_classifications')
                .then(response => (this.classifications = response.data.data))
        },
        methods: {
            submit: function () {
                axios.post('/api/cars', this.car)
                    .then((response) => {
                        this.$swal({text:'Meio terrestre adicionado com sucesso', type: 'success'})
                            .then((result) => {
                                this.$router.push('/cars')
                            });
                    })
                    .catch((error) => {
                        this.$swal({text:'Ocorreu um erro, por favor valide os dados introduzidos', type: 'error'})
                    });

            }
        }
    }
</script>
