<template>

    <!-- Page Wrapper -->
    <v-app id="wrapper">
        <v-container fluid id="main-wrapper" style="height:100%;">
            <v-row no-gutters style="height:100%;">
                <v-col
                    cols="2" style="height:100%;" v-if="$root.$data.user !== {} && $root.$data.user.type && $root.$data.user.role"
                >
                    <main-nav class="d-inline-block" style="height:100%;"></main-nav>
                </v-col>
                <v-col
                    :cols="$root.$data.user !== {} && $root.$data.user.type && $root.$data.user.role ? 10 : 12"
                >
                    <!-- Content Wrapper -->
                    <div id="content-wrapper" class="d-inline-block w-100">

                        <!-- Main Content -->
                        <div id="content">

                            <!-- Topbar -->
                            <div class="text-right">
                                <top-bar></top-bar>
                            </div>
                            <!-- End of Topbar -->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <router-view/>
                            </div>
                            <!-- /.container-fluid -->

                        </div>
                        <!-- End of Main Content -->

                        <!-- Footer -->
                        <footer class="sticky-footer bg-white">
                            <div class="container my-auto">
                                <div class="copyright text-center my-auto">
                                    <span>Copyright &copy; Sistema de gestão de meios em teatros de operações 2019</span>
                                </div>
                            </div>
                        </footer>
                        <!-- End of Footer -->

                    </div>
                    <!-- End of Content Wrapper -->
                </v-col>
            </v-row>
        </v-container>
        <!-- End of Sidebar -->



    </v-app>
    <!-- End of Page Wrapper -->

</template>

<script>
    import MainNav from '../components/MainNav.vue'
    import TopBar from '../components/TopBar.vue'

    export default {
        components: {
          MainNav, TopBar
        },
        methods: {
            logout: function () {
                this.$store.dispatch('logout')
                    .then(() => {
                        this.$router.push('/')
                    })
            },
        },
        computed : {
            isLoggedIn : function(){ return this.$store.getters.isLoggedIn}
        },
        created: function () {
            axios.interceptors.response.use(undefined, function (err) {
                return new Promise(function (resolve, reject) {
                    if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
                        this.$store.dispatch(logout);
                    }
                    throw err;
                });
            });
        },
    }
</script>

<style scoped>
    #main-wrapper{
        padding: 0;
    }
</style>
