<template>
    <v-navigation-drawer permanent >
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class="title" style="text-overflow: clip; white-space: normal; text-align: center;">
                    Sistema de gestão de meios em teatros de operações
                </v-list-item-title>
                <v-list-item-subtitle>
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list
            dense
            nav
        >
            <v-list-item
                v-for="item in items"
                :key="item.title"
                :to="item.path"
                v-if="!item.role_id || hasAccess"
            >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>
<script>
    export default {
        data() {
            return {
                items:
                    [
                        {title: 'Utilizadores', icon: 'mdi-account-check', path: '/users', role_id: 2},
                        {title: 'Meios terrestres', icon: 'mdi-car', path: '/cars', role_id: 2},
                        {title: 'Corporações', icon: 'mdi-account-multiple-outline', path: '/corporations', role_id: 2},
                        {title: 'Operações', icon: 'mdi-alert', path: '/operations'},
                        {title: 'Estatísticas', icon: 'mdi-chart-bar', path: '/statistics'}
                    ]
            }
        },
        computed: {
            hasAccess() {
                let role_id = this.$root.$data.user.role_id;
                return role_id < 3;
            }
        }
    }
</script>
