<template>
        <v-toolbar style="z-index:99999" v-if="$root.$data.user !== {} && $root.$data.user.type && $root.$data.user.role">
            <div class="nav-item dropdown no-arrow d-inline-block">
                <a class="nav-link dropdown-toggle"  style="display:inline-block;z-index:99999" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-inline-block text-gray-600 small">
                        {{ $root.$data.user.full_name }} |
                        {{ $root.$data.user.type.type }} |
                        {{ $root.$data.user.role.role }}
                    </span>
                    <v-icon>person</v-icon>

                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="z-index:99999">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" @click="logout">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </div>
        </v-toolbar>
</template>
<style>
    .v-toolbar{
        display: inline-block;
    }
</style>
<script>
    export default {
        methods: {
            logout: function() {
                axios.post('/api/logout').then(() => {
                    this.$root.$data.user = {}
                    this.$router.push('/login')
                })

            }
        }
    }
</script>
