<template>
    <div>

        <!-- Page Heading -->
        <div class="mb-4 row">
            <div class="col-12">
                <v-btn
                    color="secondary"
                    to="/operations"
                >
                    Operações
                </v-btn>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Operação {{ operation.local }} #{{ operation.id }}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div id="map"></div>
                        <GmapMap
                            :center="center"
                            :zoom="6"
                            map-type-id="terrain"
                            style="width: 100%; height: 600px"
                        >
                            <GmapMarker
                                :key="index"
                                v-for="(m, index) in markers"
                                :position="m.position"
                                :clickable="true"
                                :draggable="true"
                                @click="center=m.position"
                                :icon="{ url: 'img/truck_emergency_fire_rescue_vehicle_firetruck_car-128.png'}"
                            >
                            </GmapMarker>
                        </GmapMap>

                    </div>
                    <div class="col-3">
                        <div class="col-12">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Participantes</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-astronaut fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" v-for="firefighter in firefighters" v-if="firefighters">
                            <div class="card border-left-danger shadow h-100">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Operativo
                                            </div>
                                            <div>
                                                {{ firefighter.external_id }}
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                {{ firefighter.temperature }}ºC - {{ firefighter.heart_rate }} BPM
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-200">
                                                A {{ firefighter.distance }}m do carro de combate
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-astronaut fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="col-12">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Utilizadores</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-right">
                            <div class="my-2">
                                <v-btn depressed small color="primary" @click="dialog = true">Adicionar utilizador</v-btn>
                            </div>
                        </div>
                        <div class="col-12" v-for="user in users" v-if="users">
                            <div class="card border-left-primary shadow h-100">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                {{ user.type.type }}
                                            </div>
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                {{ user.role.role }}
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ user.full_name }}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-astronaut fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="my-2">
                                            <v-btn depressed small color="error" @click="deleteUser(user.id)">Eliminar</v-btn>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <v-dialog
            v-model="dialog"
            max-width="290"
        >
            <v-card>
                <v-card-title class="headline">Escolha um utilizador a adicionar à operação?</v-card-title>

                <v-card-text>

                    <v-autocomplete
                        label=""
                        :items="all_users"
                        item-value="id"
                        item-text="full_name"
                        v-model="user_to_add"
                    ></v-autocomplete>

                </v-card-text>

                <v-card-actions>
                    <div class="flex-grow-1"></div>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="dialog = false"
                    >
                        Fechar
                    </v-btn>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="addUser"
                    >
                        Adicionar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                firefighters: [],
                users: [],
                operation: {},
                center: {
                    lat: 38.7223,
                    lng: -9.1393
                },
                all_users: [],
                dialog: false,
                user_to_add: null

            }
        },
        mounted() {
            axios
                .get('/api/operations/' + this.$route.params.id)
                .then(response => (this.operation = response.data.data));
            axios
                .get('/api/operations/' + this.$route.params.id + '/individual_firefighters')
                .then(response => (this.firefighters = response.data.data));
            this.refreshUsers();
            axios
                .get('/api/users')
                .then(response => (this.all_users = response.data.data));
        },
        methods: {
            submit() {
                console.log('submitted')
            },
            refreshUsers(){
                axios
                    .get('/api/operations/' + this.$route.params.id + '/users')
                    .then(response => (this.users = response.data.data));
            },
            addUser() {
                axios.put('/api/operations/' + this.operation.id + '/users', {user_id: this.user_to_add})
                    .then((response) => {
                        this.$swal({text:'Utilizador adicionado com sucesso', type: 'success'})
                            .then((result) => {
                                this.refreshUsers();
                                this.dialog = false;
                                this.user_to_add = null;
                            });
                    })
                    .catch((error) => {
                        this.$swal({text:'Ocorreu um erro, por favor tente novamente', type: 'error'})
                    });
            },
            deleteUser(id) {
                axios.delete('/api/operations/' + this.operation.id + '/users/' + id)
                    .then((response) => {
                        this.$swal({text:'Utilizador removido com sucesso', type: 'success'})
                            .then((result) => {
                                this.refreshUsers();
                            });
                    })
                    .catch((error) => {
                        this.$swal({text:'Ocorreu um erro, por favor tente novamente', type: 'error'})
                    });
            }
        },
        computed: {
            markers() {
                let markers = [];
                this.firefighters.forEach(function(item, index){
                    markers.push({position: {lat: parseFloat(item.car_gps.split(" ")[0]), lng: parseFloat(item.car_gps.split(" ")[1])}});
                });

                return markers;
            }
        }
    }
</script>
<style>.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}</style>
