<template>
    <div>
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"></h1>
        <div class="mb-4 row">
            <div class="col-12 text-right">
                <v-btn
                    color="secondary"
                    to="/operations/new"
                >
                    Adicionar operação
                </v-btn>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Operações</h6>
                <div class="flex-grow-1"></div>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
            </div>
            <div class="card-body">
                <template>
                    <v-data-table
                        :headers="headers"
                        :items="operations"
                        :items-per-page="15"
                        class="elevation-1"
                        :search="search"
                    >
                        <template v-slot:item.action="{ item }">
                            <router-link
                                :to="'/operations/view/' + item.id">
                                <v-icon
                                    small
                                    class="mr-2"
                                >
                                    mdi-eye
                                </v-icon>
                            </router-link>
                            <router-link
                                :to="'/operations/edit/' + item.id">
                                <v-icon
                                    small
                                    class="mr-2"
                                >
                                    edit
                                </v-icon>
                            </router-link>
                        </template>



                    </v-data-table>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                headers: [
                    {
                        text: 'Id',
                        value: 'id',
                    },
                    { text: 'Local', value: 'local' },
                    { text: 'Distrito', value: 'district.district' },
                    { text: 'Tipo', value: 'type.type' },
                    { text: 'Severidade', value: 'severity.severity' },
                    { text: 'Fase', value: 'combat_phase.phase' },
                    { text: 'Ações', value: 'action', sortable: false },
                ],
                operations: [],
                search: ''
            }
        },
        mounted() {
            axios
                .get('/api/operations')
                .then(response => (this.operations = response.data.data))
        }
    }
</script>
