<template>
    <div>

        <!-- Page Heading -->
        <div class="mb-4 row">
            <div class="col-6">
                <v-btn
                    color="secondary"
                    to="/operations"
                >
                    Operações
                </v-btn>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Alterar operação</h6>
            </div>
            <div class="card-body">

                <v-form class="user" @submit.prevent>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <v-text-field
                                label="Nome"
                                v-model="operation.local"
                                :rules='required'
                                required
                            >
                            </v-text-field>
                        </div>
                        <div class="col-sm-6">
                            <v-autocomplete
                                label="Distrito"
                                :items="districts"
                                item-value="id"
                                item-text="district"
                                v-model="operation.district_id"
                                :rules='required'
                                required
                            ></v-autocomplete>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <v-autocomplete
                                label="Tipo"
                                :items="types"
                                item-value="id"
                                item-text="type"
                                v-model="operation.type_id"
                                :rules='required'
                                required
                            ></v-autocomplete>
                        </div>
                        <div class="col-sm-6">
                            <v-autocomplete
                                label="Severidade"
                                :items="severities"
                                item-value="id"
                                item-text="severity"
                                v-model="operation.severity_id"
                                :rules='required'
                                required
                            ></v-autocomplete>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <v-autocomplete
                                label="Fase"
                                :items="phases"
                                item-value="id"
                                item-text="phase"
                                v-model="operation.combat_phase_id"
                                :rules='required'
                                required
                            ></v-autocomplete>
                        </div>
                        <div class="col-sm-6">
                            <v-text-field
                                label="Área de impacto aproximada (metros quadrados)"
                                v-model="operation.area_of_impact"
                                type="number">
                            </v-text-field>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <v-text-field
                                label="Observações"
                                v-model="operation.observations">
                            </v-text-field>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <div v-for="(car, index) in operation_cars" class="m-3">
                                <v-card class="p-3">
                                    <v-icon color="error" @click="removeCar(index)" style="float:left; ">mdi-close</v-icon>
                                    <v-autocomplete
                                        label="Meio terrestre"
                                        :items="cars"
                                        item-value="id"
                                        item-text="license"
                                        v-model="operation_cars[index]"
                                        :rules='required'
                                        required
                                    ></v-autocomplete>
                                </v-card>
                            </div>

                            <v-btn
                                color="success"
                                @click="addCar"
                            >
                                Adicionar meio terrestre
                            </v-btn>
                        </div>
                        <div class="col-sm-6">
                            <div v-for="(air, index) in operation_airs" class="m-3">
                                <v-card class="p-3">
                                    <v-icon color="error" @click="removeAir(index)">mdi-close</v-icon>
                                    <v-text-field
                                        label="Nome"
                                        v-model="air.name"
                                        :rules='required'
                                        required>
                                    </v-text-field>
                                    <v-text-field
                                        label="Id Externo"
                                        v-model="air.external_id"
                                        :rules='required'
                                        required>
                                    </v-text-field>
                                    <v-text-field
                                        label="Código"
                                        v-model="air.code"
                                        :rules='required'
                                        required>
                                    </v-text-field>
                                </v-card>
                            </div>

                            <v-btn
                                color="success"
                                @click="addAir"
                            >
                                Adicionar meio aéreo
                            </v-btn>
                        </div>
                    </div>
                    <div class="form-group row" v-if="operation.combat_phase.phase === 'Concluído'">
                        <div class="col-12" style="text-align:center;">
                            Data de fim de Combate<br>
                            <v-date-picker v-model="operation.operation_end"></v-date-picker>
                        </div>
                    </div>
                    <v-btn
                        color="primary"
                        type="submit"
                        @click="submit"
                    >
                        Submeter
                    </v-btn>
                </v-form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                operation: {},
                districts: [],
                types: [],
                severities: [],
                phases: [],
                required: [v => !!v || "Este campo é obrigatório"],
                cars: [],
                operation_cars: [],
                operation_airs: [],

            }
        },
        mounted() {
            axios
                .get('/api/operations/' + this.$route.params.id)
                .then((response) => (
                    this.operation = response.data.data,
                    this.operation_cars = response.data.data.cars.map(function(item){
                        return item.id;
                    }),
                    this.operation_airs = response.data.data.air_vehicles

                ))
            axios
                .get('/api/districts')
                .then(response => (this.districts = response.data.data))
            axios
                .get('/api/operation_types')
                .then(response => (this.types = response.data.data))
            axios
                .get('/api/operation_severities')
                .then(response => (this.severities = response.data.data))
            axios
                .get('/api/combat_phases')
                .then(response => (this.phases = response.data.data))
            axios
                .get('/api/cars')
                .then(response => (this.cars = response.data.data))
        },
        methods: {
            submit: function () {
                // copy object so we don't edit directly the object
                let operationToSend = JSON.parse(JSON.stringify(this.operation));
                operationToSend.cars = this.operation_cars;
                operationToSend.air_vehicles = this.operation_airs;

                axios.put('/api/operations/' + this.operation.id, operationToSend)
                    .then((response) => {
                        this.$swal({text:'Operação alterada com sucesso', type: 'success'})
                            .then((result) => {
                                this.$router.push('/operations')
                            });
                    })
                    .catch((error) => {
                        this.$swal({text:'Ocorreu um erro, por favor valide os dados introduzidos', type: 'error'})
                    });

            },
            addCar(){
                this.operation_cars.push({});
            },
            removeCar(index){
                this.operation_cars.splice(index, 1)
                //this.$set(this.operation_cars, );
            },
            addAir(){
                this.operation_airs.push({});
            },
            removeAir(index){
                this.operation_airs.splice(index, 1)
            },
        }
    }
</script>
