<template>

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Entrar</h1>
                                </div>
                                <v-form @submit.prevent class="user">
                                    <div class="form-group">
                                        <v-text-field
                                            label="Email"
                                            v-model="email"
                                            :rules='required'
                                            required
                                        >
                                        </v-text-field>
                                    </div>
                                    <div class="form-group">
                                        <v-text-field
                                            label="Palavra-passe"
                                            v-model="password"
                                            :rules='required'
                                            required
                                            type="password"
                                        >
                                        </v-text-field>
                                    </div>
                                    <v-btn type="submit" class="" color="primary" @click="login">
                                        Login
                                    </v-btn>
                                </v-form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                email: '',
                password: '',
                required: [v => !!v || "Este campo é obrigatório"],

            }
        },
        methods: {
            login: function () {

                let loginInfo = {
                    email: this.email,
                    password: this.password
                }

                axios.post('/api/login', loginInfo)
                    .then((response) => {

                        localStorage.setItem('token', response.data.token)

                        axios.get('/api/user')
                            .then(response => {
                                this.$root.$data.user = response.data.data;
                                this.$router.push('/operations')
                            })
                            .catch(response => {
                                this.$router.push('/login')
                            });
                    })
                    .catch((error) => {
                        this.$swal({text: 'Ocorreu um erro, por favor valide os dados introduzidos', type: 'error'})
                    });
            }
        }
    }
</script>
