<template>
    <div>

        <!-- Page Heading -->
        <div class="mb-4 row">
            <div class="col-6">
                <v-btn
                    color="secondary"
                    to="/corporations"
                >
                    Corporações
                </v-btn>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Alterar Corporação</h6>
            </div>
            <div class="card-body">

                <v-form class="car" @submit.prevent>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <v-text-field
                                label="Nome"
                                v-model="corporation.name"
                                :rules='required'
                                required
                            >
                            </v-text-field>
                        </div>
                        <div class="col-sm-6">
                            <v-text-field
                                label="Local"
                                v-model="corporation.local"
                                :rules='required'
                                required
                            >
                            </v-text-field>
                        </div>
                    </div>
                    <v-btn
                        color="primary"
                        type="submit"
                        @click="submit"
                    >
                        Submeter
                    </v-btn>
                </v-form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                corporation: {},
                required: [v => !!v || "Este campo é obrigatório"]
            }
        },
        mounted() {
            axios
                .get('/api/corporations/' + this.$route.params.id)
                .then(response => (this.corporation = response.data.data))
        },
        methods: {
            submit: function () {
                axios.put('/api/corporations/' + this.corporation.id, this.corporation)
                    .then((response) => {
                        this.$swal({text:'Corporação alterada com sucesso', type: 'success'})
                            .then((result) => {
                                this.$router.push('/corporations')
                            });
                    })
                    .catch((error) => {
                        this.$swal({text:'Ocorreu um erro, por favor valide os dados introduzidos', type: 'error'})
                    });

            }
        }
    }
</script>
