<template>
    <div>
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"></h1>
        <div class="mb-4 row">
            <div class="col-6">
                <v-btn
                    color="secondary"
                    to="/users"
                >
                    Utilizadores
                </v-btn>
            </div>
            <div class="col-6 text-right">
                <v-btn
                    color="secondary"
                    to="/corporations/new"
                >
                    Adicionar Corporação
                </v-btn>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Corporações</h6>
                <div class="flex-grow-1"></div>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
            </div>
            <div class="card-body">
                <template>
                    <v-data-table
                        :headers="headers"
                        :items="corporations"
                        :items-per-page="15"
                        class="elevation-1"
                        :search="search"
                    >
                        <template v-slot:item.action="{ item }">
                            <router-link
                                :to="'/corporations/edit/' + item.id">
                                <v-icon
                                    small
                                    class="mr-2"
                                >
                                    edit
                                </v-icon>
                            </router-link>
                        </template>
                    </v-data-table>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                headers: [
                    {
                        text: 'Id',
                        value: 'id',
                    },
                    { text: 'Nome', value: 'name' },
                    { text: 'Local', value: 'local' },
                    { text: 'Ações', value: 'action', sortable: false },
                ],
                corporations: [],
                search: ''
            }
        },
        mounted() {
            axios
                .get('/api/corporations')
                .then(response => (this.corporations = response.data.data))
        }
    }
</script>
