<template>
    <div class="row" v-if="statisticsAll">
        <v-card class="col-6">
            <v-card-title>
                Estatísticas globais
            </v-card-title>
            <v-card-text v-if="statisticsAll">
                <v-divider></v-divider>
                <v-list dense>
                    <v-list-item>
                        <v-list-item-content>Número de ocorrências:</v-list-item-content>
                        <v-list-item-content class="align-end">{{ statisticsAll.operationsCount }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>Média de operacionais por ocorrência:</v-list-item-content>
                        <v-list-item-content class="align-end">{{ statisticsAll.firefightersPerOperation }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>Média de meios terrestres por ocorrência:</v-list-item-content>
                        <v-list-item-content class="align-end">{{ statisticsAll.carsPerOperation }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>Média de meios aéreos por ocorrência:</v-list-item-content>
                        <v-list-item-content class="align-end">{{ statisticsAll.airsPerOperation }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>Tempo médio de ocorrência em estado aberto:</v-list-item-content>
                        <v-list-item-content class="align-end">{{ meanOpenOperationCalculated }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>Ocorrências ativas:</v-list-item-content>
                        <v-list-item-content class="align-end">{{ statisticsAll.activeOperations }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>Meios terrestres alocados a ocorrências ativas:</v-list-item-content>
                        <v-list-item-content class="align-end">{{ statisticsAll.activeCars }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>Meios aéreos alocados a ocorrências ativas:</v-list-item-content>
                        <v-list-item-content class="align-end">{{ statisticsAll.activeAirVehicles }}</v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card-text>
        </v-card>
        <v-card class="col-6">
            <v-card-title>
                Operações por tipo
            </v-card-title>
            <v-card-text>
                <apexchart width="380" type="pie" :options="operationsByType" :series="operationsByType.counts" v-if="operationsByType"></apexchart>
            </v-card-text>
        </v-card>
        <v-card class="col-12 mt-3">
            <v-card-title>
                Ocorrências por distrito
            </v-card-title>
            <v-card-text>
                <apexchart type=bar height=350 :options="operationsByDistrict" :series="operationsByDistrict.series" />
            </v-card-text>
        </v-card>


    </div>
</template>

<script>

    export default {
        data: () => ({
            options: {},
            series: [44, 55, 41, 17, 15],
            operations: [],
            statisticsAll: {}
        }),
        mounted() {
            axios
                .get('/api/operations')
                .then(response => (this.operations = response.data.data))
            axios
                .get('/api/statistics/all')
                .then(response => (this.statisticsAll = response.data[0]))

        },
        computed: {
            operationsByType() {
                let operationsByType = {};

                this.operations.forEach(function (item, index) {
                    if (operationsByType.hasOwnProperty(item.type.type)) {
                        operationsByType[item.type.type] = operationsByType[item.type.type] + 1
                    }
                    else {
                        operationsByType[item.type.type] = 1
                    }
                })
                let sanitizedOperations = {
                    plotOptions: {
                        bar: {
                            horizontal: true,
                        }
                    },
                    'labels': Object.keys(operationsByType),
                    'counts': Object.values(operationsByType)
                }
                return sanitizedOperations
            },
            operationsByDistrict() {
                let operationsByDistrict = {};

                this.operations.forEach(function (item, index) {
                    if (operationsByDistrict.hasOwnProperty(item.district.district)) {
                        operationsByDistrict[item.district.district] = operationsByDistrict[item.district.district] + 1
                    }
                    else {
                        operationsByDistrict[item.district.district] = 1
                    }
                })
                let sanitizedOperations = {
                    'labels': Object.keys(operationsByDistrict),
                    'series': [{'data': Object.values(operationsByDistrict)}]

                }
                return sanitizedOperations
            },
            meanOpenOperationCalculated() {
                let duration = this.statisticsAll.meanOpenOperation;
                let milliseconds = parseInt((duration % 1000) / 100),
                    seconds = Math.floor((duration / 1000) % 60),
                    minutes = Math.floor((duration / (1000 * 60)) % 60),
                    hours = Math.floor((duration / (1000 * 60 * 60)) % 24);

                hours = (hours < 10) ? "0" + hours : hours;
                minutes = (minutes < 10) ? "0" + minutes : minutes;
                seconds = (seconds < 10) ? "0" + seconds : seconds;

                return hours + ":" + minutes + ":" + seconds + "." + milliseconds;
            }

        },

    }
</script>
